body {
  text-align: center;
}

input {
  text-align: center;
  border-radius: 5px;
  height: 25px;
  width: 250px;
}

.button {
  margin: 15px;
  color: white;
  background-color:red;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}